.registrationform {
    margin-top: 100px;
    margin-bottom: 100px;

    .container {
        display: flex;
        justify-content: center;

    }

    #registration {
        margin: 0;
        padding: 0;

        h1 {
            color: $color-dark-2;
            font-size: 22px;
            margin-bottom: 20px;

            @include lg {
                font-size: 30px;
            }
        }

        .mb-4 {
            display: flex;
            display: inline-block;
            margin-right: 30px;
            width: 100%;

            label {
                

                @include lg {
                    display: block;
                    font-size: 25px;
                    width: auto;
                }
            }

            input {
                width: 100%;
                border: 1px solid $color-dark-4;
                padding: 5px;

                @include lg {
                    display: inline-block;
                    width: 525px;
                    height: 50px;
                }
            }

            .textbox {
                margin-bottom: 20px;
                display: block;

                #text {
                    display: block;
                    width: 100%;
                    width: 500px;
                }

                @include lg {
                    display: block;
                }
            }
        }
    }
}