.topselling {
    padding: 60px 0;

    .container {
        display: block;
        text-align: center; 
    }

    .title {
        font-size: 40px;
        font-family: $font-poppins;
        color: $color-dark-2;
        font-weight: $font-weight-bold;
        padding-bottom: 20px;
    }

    .slidecards{

        .col {
            padding-top: 20px;
            padding-bottom: 40px;
            display: none;
    
            @include lg {
                display: inline;
            }
    
            .card {
                border-radius: 0;
                border: none;
                
                .card-body {
                    display: flex;
                    display: block;  
                    justify-content: space-between;
                    padding: 15px 0 15px 0;
                    
    
                    h1 {
                        text-align: left;
                        color: $color-dark-1;
                        font-family: $font-poppins;
                        font-size: 16px;                                                                
                    }
    
                    .card-old-price {
                        text-align: left;
                        text-decoration: line-through;
                        display: none;
                        color: $color-dark-2;    
                    }
    
                    .card-discount-price {
                        text-align: left;
                        color: $color-dark-2;
                        display: inline;
                        justify-content: flex-start;
                        justify-content: space-between; 
                    }
    
                    a {         
                        color: $color-dark-1;
                        font-size: 25px;
                        justify-content:flex-end;
                    }
    
                }
            }
        }
    
    }

    .buttons {

        .mobile {
            margin-bottom: 20px;

            @include lg {
                display: none;
            }
        }

        .left {
            display: none;
            border-radius: 7px;
            padding: 5px 15px;

            @include lg {
                display: inline-block;
            }
        }

        .right {
            display: none;
            border-radius: 7px;
            padding: 5px 15px;

            @include lg {
                display: inline-block;
            }
        }
    }

    .cards {
        display: none;
        padding-top: 40px;

        @include lg {
            display: flex;
        }

        .col {
            padding-right: 20px;

            .card {
                border-radius: 0;
                border: none;

                .card-body{
                    text-align: left;

                    h1 {
                        font-size: 18px;
                        color: $color-dark-1;

                    }
                    .ingress {
                        color: $color-dark-2;
                    }
                    p {
                        color: $color-dark-4;
                    }
                }
            }
        }
    }
}